.container {
  display: block;
  position: relative;
  width: 100%;
  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      float: left;
      border: 3px solid #fff;
      margin-left: 3px;
      padding: 5px;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      font-weight: bold;
      :last-of-type {
        margin-left: 0;
      }
      &.active {
        border: 3px solid #000;
      }
      span {
        display: none;
      }
    }
  }
}
