<div class="container">
  <ol>
    <ng-container *ngFor="let stat of statuses">
      <li [ngStyle]="{
        'background-color': stat.bgColor,
        'color': stat.txtColor
      }" [class.active]="status === stat.value">
        <span *ngIf="status === stat.value">-></span>
        {{stat.label}}
      </li>
    </ng-container>
  </ol>
  <div style="clear: both"></div>
</div>
