<div class="datetime-wrap">
  <div class="datePicker">
    <input matInput [(ngModel)]="date" [errorStateMatcher]="errorStateMatcher" (dateInput)="dateChange($event.value)" (dateChange)="dateChange($event.value)" [matDatepicker]="picker" [placeholder]="placeholder" [disabled]="disabled">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker (selectedChanged)="dateSelected($event)"></mat-datepicker>
  </div>
  <div class="hourPicker">
    <div class="placeholder" *ngIf="!hour">h</div>
    <mat-select
      [errorStateMatcher]="errorStateMatcher"
      [disabled]="disabled"
      (ngModelChange)="timeChange('hour', $event)"
      [ngModel]="hour">
      <mat-option [value]="''" i18n></mat-option>
      <mat-option [value]="'now'" i18n>Now</mat-option>
      <mat-option *ngFor="let item of hours" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </div>
  <div class="minutePicker">
    <div class="placeholder" *ngIf="!minute" i18n>min</div>
    <mat-select
      [errorStateMatcher]="errorStateMatcher"
      [disabled]="disabled"
      (ngModelChange)="timeChange('minute', $event)"
      [ngModel]="minute">
      <mat-option [value]="''" i18n></mat-option>
      <mat-option *ngFor="let item of minutes" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </div>
</div>
