.datetime-wrap {
  display: flex;
  flex-direction: row;
  height: 1.125em;
}

.datePicker {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.hourPicker, .minutePicker {
  flex: 0 0 45px;
  position: relative;
}

.placeholder {
  position: absolute;
}

.datetime-wrap .mat-datepicker-toggle-default-icon {
  width: 1em;
  height: 1em;
}

.datetime-wrap .mat-icon-button {
  margin-right: 10px;
  margin-top: -0.3em;
  height: 1.5em;
  width: 1.5em;
  font: inherit;
  vertical-align: baseline;
}
