<div class="list-wrap">
  <div fxFlex fxLayout="column">
    <cdk-virtual-scroll-viewport #virtualViewport fxFlex [itemSize]="72">
      <mat-list>
        <mat-list-item *cdkVirtualFor="let taxon of taxaResult.taxa"
                       [routerLink]="['/species/', taxon.id]">
          <div *ngIf="taxon._thumbnail" matListAvatar class="taxon-image" [style.background-image]="'url(' + (taxon._thumbnail | toHttps) + ')' | safe:'style'"></div>
          <div *ngIf="!taxon._thumbnail" matListAvatar ></div>
          <h3 matLine>{{taxon.vernacularName}}</h3>
          <p matLine>{{taxon.scientificName}}</p>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
