.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.search {
  .fix {
    position: relative;
    margin-left: -25px;
    top: 10px;
  }

  width: calc(100vw - 180px);
  max-width: 170px;

  mat-form-field {
    font-size: medium;
  }
}
.fix.right {
  margin-left: 0;
  right: 25px;
}
