<div class="search-wrapper">
  <div class="search ilm-dark-theme" [@search]="visible ? 'expanded' : 'collapsed'">
    <mat-form-field [color]="'primary'">
      <mat-icon matPrefix class="fix" (click)="showSearch()">search</mat-icon>
        <input #input matInput [(ngModel)]="query" (keyup)="queryUpdate(input.value)" (focus)="onFocus()" (blur)="onBlur()">
    </mat-form-field>
  </div>
  <mat-icon class="fix right" (click)="hideSearch()" [@clear]="visible ? 'expanded' : 'collapsed'">clear</mat-icon>
</div>
