<h1 mat-dialog-title i18n>Feedback</h1>
<div mat-dialog-content>
  <p i18n>
    This feedback is anonymous and most welcome. If you want me to get back to you place add your email
    address in the comment.
  </p>
  <mat-form-field>
    <input matInput placeholder="Subject" i18n-placeholder [(ngModel)]="data.subject">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput mat-autosize placeholder="Comment" i18n-placeholder [(ngModel)]="data.message"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" i18n>Cancel</button>
  <span fxFlex></span>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial i18n>Send</button>
</div>
