<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button *ngIf="options.showSpeciesLink" mat-menu-item [routerLink]="[listPath]" color="primary">
    <mat-icon>arrow_back</mat-icon>
    <ng-container i18n>Back to list</ng-container>
  </button>
  <button mat-menu-item (click)="addToList.emit(taxonID)" color="primary">
    <mat-icon>add</mat-icon>
    <ng-container i18n>Add to:</ng-container>&nbsp;
    <ng-container *ngIf="activeOwnMenu === 'default'; else ownListItem">
      <span i18n>Default list</span>
    </ng-container>
    <ng-template #ownListItem>{{activeOwnMenu}}</ng-template>
  </button>
  <button *ngIf="!options.hideLevel" mat-menu-item (click)="showLevel.emit(taxonID)" color="primary">
    <mat-icon>view_comfy</mat-icon>
    <ng-container i18n>View species in this level</ng-container>
  </button>
</mat-menu>
