<mat-card class="taxon-descriptions mat-elevation-z5">
  <mat-card-content>
    <ng-container *ngFor="let group of descriptions.groups">
      <div *ngFor="let variable of group.variables">
        <ng-container *ngIf="variable.title === 'Ingressi' else topic">
          <i [innerHtml]="variable.content"></i>
        </ng-container>
        <ng-template #topic>
          <h2 [innerHtml]="variable.title"></h2>
          <p [innerHtml]="variable.content"></p>
        </ng-template>
      </div>
    </ng-container>
    <div *ngIf="descriptions.speciesCardAuthors">
      <hr>
      <span [innerHtml]="descriptions.speciesCardAuthors.title + ':'"></span>
      <span [innerHtml]="descriptions.speciesCardAuthors.content"></span>
    </div>
  </mat-card-content>
</mat-card>
