<div fxLayout="row" fxFlex fxLayoutAlign="center center" fxLayoutGap="10px">
  <button mat-icon-button [disabled]="disabled" *ngIf="!downloaded[taxonID] || downloaded[taxonID] < 100" (click)="download.emit(taxonID)">
    <mat-icon>file_download</mat-icon>
  </button>
  <span fxFlex></span>
  <div class="loader">
    <mat-progress-bar
      *ngIf="!downloaded[taxonID] || downloaded[taxonID] !== 100"
      [value]="downloaded[taxonID] || 0"></mat-progress-bar>
  </div>
</div>
