<mat-card>
  <mat-card-header (click)="getPic()">
    <div mat-card-avatar>
      <mat-icon>photo_camera</mat-icon>
    </div>
    <mat-card-title>
      <button type="button" class="clear" mat-icon-button (click)="empty($event)" *ngIf="image">
        <mat-icon>clear</mat-icon>
      </button>
      <h3 i18n>Try to recognize a mushroom</h3>
    </mat-card-title>
    <mat-card-subtitle i18n>Please note that the images taken will be stored to the server for analyzing and will be used for future recognition training.</mat-card-subtitle>
  </mat-card-header>
  <div class="mat-card-image" *ngIf="image" [style.background-image]="'url(' + image + ')'"></div>
  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-icon mat-list-icon [color]="'warn'">report_problem</mat-icon>
      <h2 i18n>
        Do not trust this list! Only collect and eat mushrooms that you can recognize.
      </h2>
    </div>
    <div class="loading-shade"
         *ngIf="loading; else results">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #results>
      <ng-container *ngIf="!notMushroom && matches.length > 0">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-list dense class="list">
            <ng-container *ngFor="let match of matches; let i = index">
              <mat-divider *ngIf="i === 0"></mat-divider>
              <mat-list-item class="list-item" [routerLink]="['/species', match]">
                <img matListAvatar [src]="match | taxonImage | toHttps" alt="">
                <span class="name" matLine>{{i + 1}}. {{match | label}}</span>
                <button type="button" class="add" mat-button (click)="add($event, match)">
                  <mat-icon>add</mat-icon>
                  <span i18n>Add</span>
                </button>
              </mat-list-item>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-list>
        </div>
      </ng-container>
      <div fxLayout="row" fxLayoutGap="10px" *ngIf="notMushroom && image">
        <p i18n>
          No mushrooms found from the image
        </p>
      </div>
    </ng-template>
    <p i18n>
      Huge thanks to Ville and Akseli for making this great service possible.
      Please also check out site <a href="https://sienitunnistus.fi" rel="noreferrer noopener" target="_blank">sienitunnistus.fi</a>.
      There you can keep track of all the mushrooms you've collected and compete with others on who can find the most mushrooms.
    </p>
  </mat-card-content>
</mat-card>
