.loading-shade {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  position: absolute;
  right: 10px;
  margin-top: -16px;
}

.mat-card-image {
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.list {
  width: 100%;
  padding: 0;
}

.list-item {
  font-size: small;
  padding: 0;
  margin-right: -24px;
  margin-left: -24px;
}

.name {
  width: calc(100% - 80px);
}

.add {
  position: absolute;
  font-size: small;
  font-weight: normal;
  right: 10px;
}
