<mat-accordion [multi]="true">
  <mat-expansion-panel [expanded]="expandedName">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Species
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Name" [(ngModel)]="_filters.target" (ngModelChange)="update()">
      <span matSuffix class="taxon-suffix">
        <ilm-informal-group-menu
          [includeAny]="true"
          [selected]="_filters.informalTaxonGroupId"
          (groupSelect)="updateValue('informalTaxonGroupId', $event)"
        ></ilm-informal-group-menu>
      </span>
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="expandedTime">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Time
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerStart" i18n-placeholder placeholder="From"
             [ngModel]="dateStart"
             (ngModelChange)="update()"
             (dateInput)="dateChange('start', $event.value)"
             (dateChange)="dateChange('start', $event.value)">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerEnd" i18n-placeholder placeholder="To"
             [ngModel]="dateEnd"
             (ngModelChange)="update()"
             (dateInput)="dateChange('end', $event.value)"
             (dateChange)="dateChange('end', $event.value)">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle i18n (click)="setTime('-1w')">
        week
      </mat-button-toggle>
      <mat-button-toggle i18n (click)="setTime('-1y')">
        this year
      </mat-button-toggle>
      <mat-button-toggle i18n (click)="setTime('-2y')">
        last year
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="expandedArea">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Area
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput i18n-placeholder placeholder="Coordinates" [(ngModel)]="_filters.coordinates" (ngModelChange)="update()">
    </mat-form-field>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle (click)="setLocation('viewport')">
        <mat-icon>crop_original</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle (click)="setLocation('1km')">
        1km<span class="sup">2</span>
      </mat-button-toggle>
      <mat-button-toggle (click)="setLocation('10km')">
        10km<span class="sup">2</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="expandedOwn" *ngIf="personToken">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Person
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-checkbox [(ngModel)]="mine" (ngModelChange)="update()" i18n>My observations</mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>
