<span fxFlex></span>
<div fxLayout="row" fxLayoutGap="10px">
  <span fxFlex></span>
  <span>
    <ilm-form-menu
      [extended]="isExtended$ | async"
      [recording]="recording$ | async"
      [sections]="sections$ | async"
      [saving]="saving$ | async"
      (save)="onSave()"
      (add)="onAdd($event)"
      (delete)="onDelete($event)"
      (activate)="onActivate($event)"
      (toggleRecording)="toggleRecording()"
      (toggleExtended)="toggleSelected()"
      (clearAll)="onClearAll()"
    ></ilm-form-menu>
  </span>
</div>
