<ilm-intro></ilm-intro>
<div class="text-wrap">
  <p i18n>
    This app helps you record your observations and to learn about the richness and the beauty of our world.
    App uses <a href="https://laji.fi">Finnish Biodiversity Information Facilities (FinBIF)</a> publicly provided <a href="https://api.laji.fi">API</a>
    with the goal to provide mobile friendly interface to it.
  </p>
  <p i18n>
    App is not officially supported by the FinBIF, it's done as a hobby project and
    <strong>it's still very much work in process, so use it with caution and with your own discretion!</strong>
  </p>
</div>
