:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 1em;
}

.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

img {
  width: 100%;
  max-width: calc(100vw - 2px);
  height: auto;
}

.image {
  background-size: contain !important;
  background: no-repeat center center;
  height: 100vh;
  width: 100vw;
}
