<ilm-image-preview-overlay-toolbar>
  <ng-container *ngIf="image.description">
    <mat-icon>description</mat-icon>
    {{ image.description }}
  </ng-container>
  <span fxFlex></span>
  <button mat-icon-button *ngIf="image.showDelete" (click)="dialogRef.close({action: 'delete'})">
    <mat-icon>delete</mat-icon>
  </button>
</ilm-image-preview-overlay-toolbar>

<div class="overlay-content"
     [@slideContent]="animationState"
     (@slideContent.start)="onAnimationStart($event)"
     (@slideContent.done)="onAnimationDone($event)">
  <div (click)="dialogRef.close()" class="image" [style.background-image]="'url(' + image.url + ')' | safe:'style'">>
  </div>
</div>
