<div class="table-container mat-elevation-z1">
  <mat-table #table [dataSource]="tableData" matSort [trackBy]="trackByIdx">
    <ng-container [matColumnDef]="idxKey">
      <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
      <mat-cell *matCellDef="let element"><small>{{element[idxKey] + 1}}/{{sections.units.max + 1}}</small></mat-cell>
    </ng-container>
    <ng-container [matColumnDef]="groupCol">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
      <mat-cell *matCellDef="let element"><ilm-icon *ngIf="element[groupCol].value" [icon]="element[groupCol].value[0]"></ilm-icon></mat-cell>
    </ng-container>

    <ng-container *ngFor="let col of selectedFields" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldLookup[col].label}} </mat-header-cell>
      <mat-cell *matCellDef="let element"><span [innerHtml]="element ? getFieldValue(fieldLookup[col], element[col]) : ''"></span></mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="'_actions'">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-mini-fab color="default" class="no-click mat-elevation-z3" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <ng-container *ngIf="sections">
            <button
              mat-menu-item color="primary"
              value="add"
              [disabled]="!addingPossible(element['gatherings[*].units[*].count'])"
              (click)="addObservation(element['gatherings[*].units[*].count'])"
            ><mat-icon class="add">add</mat-icon>
              <ng-container i18n>
                Add 1 to count
              </ng-container>
            </button>
            <button
              mat-menu-item color="primary"
              value="add"
              [disabled]="!addingPossible(element['gatherings[*].units[*].count'])"
              (click)="addObservation(element['gatherings[*].units[*].count'], 5)"
            ><mat-icon class="add">add</mat-icon>
              <ng-container i18n>
                Add 5 to count
              </ng-container>
            </button>
            <button
              [disabled]="element['_idx'] === unitCount - 1"
              mat-menu-item color="primary"
              value="next"
              (click)="move.emit({section: 'units', fromIdx: element['_idx'], toIdx: element['_idx'] + 1})">
              <mat-icon>keyboard_arrow_up</mat-icon>
              <ng-container i18n>
                Move observation up
              </ng-container></button>
            <button
              mat-menu-item color="primary"
              value="delete"
              [disabled]="unitCount === 1"
              (click)="delete.emit({idx: element['_idx'], section: 'units'})"
            ><mat-icon class="delete">delete</mat-icon>
              <ng-container i18n>
                Delete observation
              </ng-container>
            </button>
            <button
              [disabled]="element['_idx'] === 0"
              mat-menu-item color="primary"
              value="before"
              (click)="move.emit({section: 'units', fromIdx: element['_idx'], toIdx: element['_idx'] - 1})">
              <mat-icon>keyboard_arrow_down</mat-icon>
              <ng-container i18n>
                Move observation down
              </ng-container>
            </button>
          </ng-container>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableCols"></mat-header-row>
    <mat-row
      (click)="rowClick.emit(row)"
      [ngClass]="{'highlight': sections.units.active == row[idxKey]}"
      *matRowDef="let row; columns: tableCols;"></mat-row>
  </mat-table>
</div>
