// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import './src/styles.scss';
@import "./src/variables.scss";

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-_idx {
  flex: 0 0 55px;
}

.mat-column-gatherings----units----informalTaxonGroups {
  flex: 0 0 25px;
  color: rgba(0, 0, 0, 0.54);
}

.delete {
  color: mat-color($ilmari-warn) !important;
}

.mat-column-_actions {
  flex: 0 0 60px;
  overflow: visible;
}

.highlight {
  background: $highlight-1;
}
