<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" class="mat-elevation-z3">
  <button
    mat-menu-item color="primary"
    [matMenuTriggerFor]="ownListsMenu"
  ><mat-icon>bookmark_border</mat-icon>
    <ng-container i18n>Own lists</ng-container>
  </button>
  <button
    mat-menu-item color="primary"
    [matMenuTriggerFor]="informal"
  ><ilm-icon [icon]="filters['list'].belongsTo[0]"></ilm-icon>
    <ng-container>
      {{filters['list'].belongsTo[0] | label}}
    </ng-container>
  </button>
  <button
    *ngIf="filters['species'].belongsTo.length > 0"
    mat-menu-item color="primary"
    (click)="activateList.emit('species')"
  ><mat-icon>view_comfy</mat-icon>
    <ng-container i18n>Group</ng-container>
    {{filters['species'].belongsTo[0] | label}}
  </button>
</mat-menu>
<mat-menu #ownListsMenu="matMenu" class="mat-elevation-z3">
  <button mat-menu-item color="primary" *ngIf="ownLists.length > 1 && activeOwnList !== 'default'" (click)="deleteOwnList.emit(activeOwnList)">
    <mat-icon>delete</mat-icon>
    <ng-container i18n>Delete active</ng-container>
  </button>
  <!--
  <button mat-menu-item color="primary">
    <mat-icon>settings</mat-icon>
    <ng-container i18n>Modify active list</ng-container>
  </button>
  -->
  <button mat-menu-item color="primary" (click)="openNewListDialog()">
    <mat-icon>add</mat-icon>
    <ng-container i18n>Add new list</ng-container>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item color="primary" *ngFor="let item of ownLists" (click)="selectOwnList.emit(item)">
    <mat-icon *ngIf="item === activeOwnList; else emptyIcon">check</mat-icon>
    <ng-template #emptyIcon>
      <mat-icon></mat-icon>
    </ng-template>
    <ng-container>
      <ng-container *ngIf="item === 'default'; else ownListItem">
        <span i18n>Default list</span>
      </ng-container>
      <ng-template #ownListItem>{{item}}</ng-template>
    </ng-container>
  </button>
</mat-menu>
<mat-menu #informal="matMenu" class="informal-taxon-menu">
  <button
    *ngFor="let group of informalGroups"
    mat-menu-item color="primary"
    (click)="groupSelect.emit(group.id)"
  >
    <ilm-icon [icon]="group.id"></ilm-icon>
    {{group.name}}
  </button>
</mat-menu>
