<div class="footer" fxLayout="row">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-button-toggle-group *ngIf="sections" [disabled]="saving">
      <mat-button-toggle
        value="before"
        [disabled]="sections.units.active === 0"
        (click)="_activate(sections.units.active - 1, 'units')"
      ><mat-icon>navigate_before</mat-icon></mat-button-toggle>
      <ng-container *ngIf="sections.units.active === sections.units.max; else nextUnit">
        <mat-button-toggle
          value="next"
          (click)="_add('units')"
        ><mat-icon>add</mat-icon></mat-button-toggle>
      </ng-container>
      <ng-template #nextUnit>
        <mat-button-toggle
          value="next"
          (click)="_activate(sections.units.active + 1, 'units')"
        ><mat-icon>navigate_next</mat-icon></mat-button-toggle>
      </ng-template>
    </mat-button-toggle-group>
    <div class="text">
      {{sections.gatherings.active + 1}}.{{sections.units.active + 1}}/{{sections.units.max + 1}}
    </div>
  </div>
  <div fxFlex></div>
  <button mat-raised-button color="accent" [disabled]="saving" (click)="save.emit()">
    <mat-icon>send</mat-icon>
  </button>
</div>
