// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import './src/styles.scss';

.footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  border-top: 1px solid #c7c7c7;

  .mat-toolbar {
    background-color: white;
  }
}
:host .mat-button-toggle-checked {
  background: none !important;
}

.delete, .recording {
  color: mat-color($ilmari-warn) !important;
}

.normal {
  color: rgba(0, 0, 0, 0.38);
}

.text {
  margin: 8px 0 0 8px;
}
