<div class="player-wrap">
  <div class="player" fxLayout="row" fxLayoutAlign="center center">
    <div class="action">
      <button mat-raised-button color="accent" (click)="play()" class="mat-elevation-z0" *ngIf="!playing"><mat-icon>play_arrow</mat-icon></button>
      <button mat-raised-button color="accent" (click)="pause()" class="mat-elevation-z0" *ngIf="playing"><mat-icon>pause</mat-icon></button>
    </div>
    <div class="progress" fxFlex>
      <mat-progress-bar [value]="progress" [color]="'accent'" (click)="goTo($event)">
      </mat-progress-bar>
    </div>
    <div class="duration">
      <ng-container *ngIf="duration > 0">
        {{timeLeft}}s
      </ng-container>
    </div>
    <div class="meta" fxLayout="row" fxLayoutAlign="begin center">
      <a [href]="recorderLink" target="_blank" rel="noreferrer noopener" fxLayout="row" fxLayoutAlign="begin center">
        <mat-icon>mic_none</mat-icon> <span>{{recorder}}/xeno-canto</span>
      </a>
      <span fxFlex></span>
      <a [href]="_license" target="_blank" rel="noreferrer noopener" fxLayoutAlign="begin center">
        <ng-container [ngSwitch]="licenseIcon">
          <ng-container *ngSwitchCase="'by-nc-nd'">
            <img src="/assets/icons/cc/by-nc-nd.svg" alt="by-nc-nd">
          </ng-container>
          <ng-container *ngSwitchCase="'by-nc-sa'">
            <img src="/assets/icons/cc/by-nc-sa.svg" alt="by-nc-sa">
          </ng-container>
          <ng-container *ngSwitchCase="'by-sa'">
            <img src="/assets/icons/cc/by-sa.svg" alt="by-sa">
          </ng-container>
          <ng-container *ngSwitchDefault>License</ng-container>
        </ng-container>
      </a>
    </div>
  </div>
</div>
<audio #audioPlayer preload="metadata" (ended)="onEnd()">
  <source [src]="_audioFile |  safe:'resourceUrl'" type="audio/mp3">
</audio>
