.player-wrap {
  margin-top: 0;
  padding-bottom: 20px;
  border-radius: 5px;
  position: relative;
}
.player {
  padding: 10px 0 5px 0;
  mat-progress-bar {
    height: 36px;
  }
  .action button {
    min-width: 42px;
    width: 42px;
    padding-left: 0;
    padding-right: 0;
  }
  .duration {
    position: absolute;
    right: 10px;
  }
  .meta {
    font-size: small;
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 0;
    span {
      white-space: nowrap;
    }
    a {
      color: black;
      text-decoration: none;
      :hover {
        color: black;
        text-decoration: none;
      }
    }
  }
}
