<button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="saving">
  <mat-icon [class.recording]="recording">{{recording ? 'gps_fixed' : 'more_vert'}}</mat-icon>
</button>
<mat-menu #menu="matMenu" class="mat-elevation-z3">
  <button  mat-menu-item (click)="toggleExtended.emit()">
    <ng-container *ngIf="extended; else notExtended">
      <mat-icon>expand_less</mat-icon>
      <ng-container i18n>Show less</ng-container>
    </ng-container>
    <ng-template #notExtended>
      <mat-icon>expand_more</mat-icon>
      <ng-container i18n>Show more</ng-container>
    </ng-template>
  </button>
  <mat-divider></mat-divider>
  <ng-container *ngIf="sections">
    <button
      mat-menu-item
      color="primary"
      [disabled]="true"
    >
      <ng-container i18n>Gathering</ng-container>
      {{sections.gatherings.active + 1}}/{{sections.gatherings.max + 1}}
    </button>
    <button
      mat-menu-item color="primary"
      value="record"
      (click)="toggleRecording.emit()"
    ><mat-icon [class.recording]="recording">{{recording ? 'gps_fixed' : 'gps_not_fixed'}}</mat-icon>
      <ng-container *ngIf="recording; else record" i18n>Stop recording</ng-container>
      <ng-template #record i18n>Start recording</ng-template>
    </button>
    <button
      mat-menu-item color="primary"
      value="next"
      (click)="_add('gatherings')"
      [disabled]="recording"
    ><mat-icon>add</mat-icon>
      <ng-container i18n>Add gathering</ng-container>
    </button>
    <button
      mat-menu-item color="primary"
      value="next"
      (click)="_activate(sections.gatherings.active + 1, 'gatherings')"
      [disabled]="recording || sections.gatherings.active === sections.gatherings.max"
    ><mat-icon>navigate_next</mat-icon>
      <ng-container i18n>Next gathering</ng-container>
    </button>
    <button
      mat-menu-item color="primary"
      value="before"
      [disabled]="sections.gatherings.active === 0 || recording"
      (click)="_activate(sections.gatherings.active - 1, 'gatherings')"
    >
      <mat-icon>navigate_before</mat-icon>
      <ng-container i18n>Previous gathering</ng-container>
    </button>
    <button
      mat-menu-item color="primary"
      value="delete"
      [disabled]="sections.gatherings.max === 0 || recording"
      (click)="_del(sections.gatherings.active, 'gatherings')"
    ><mat-icon class="delete">delete</mat-icon>
      <ng-container i18n>Delete gathering</ng-container>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      color="primary"
      [disabled]="true"
    >
      <ng-container i18n>General</ng-container>
    </button>
    <button
      mat-menu-item color="primary"
      value="next"
      (click)="clearAll.emit()"
      [disabled]="recording"
    ><mat-icon class="delete">delete</mat-icon>
      <ng-container i18n>Clear form</ng-container>
    </button>
  </ng-container>
</mat-menu>
