<mat-card class="taxon-map mat-elevation-z5">
  <mat-card-content>
    <div fxLayout="row">
      <div class="map-info">
        <h2 i18n>Map of observation</h2>
        <p><ng-container i18n>Total number of 10km<sup>2</sup><br>squares</ng-container> {{ykjGrid.length}}</p>
      </div>
      <div fxFlex>
      </div>
      <div>
        <ilm-taxon-view-map [ykjGrid]="ykjGrid"></ilm-taxon-view-map>
      </div>
    </div>
  </mat-card-content>
</mat-card>
