<ng-container *ngIf="profile">
  <div class="profile-top">
    <div *ngIf="profile.image" class="profile-image" [style.background-image]="'url(' + profile.image + ')' | safe:'style'"></div>
    <h1 class="name">{{user.fullName}}</h1>
  </div>
  <mat-tab-group class="demo-tab-group">
    <mat-tab i18n-label label="About">
      <div class="about-content">
        {{profile.profileDescription}}
      </div>
    </mat-tab>
    <mat-tab i18n-label label="Settings">
      <div class="friend-content" fxLayout="row">
        <ilm-user-settings
          [userSettings]="userSettings"
          (update)="updateUserSettings.emit($event)"
        ></ilm-user-settings>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
