@import "../../../styles";

.profile-top {
  height: 180px;
  background-color: mat-color($ilmari-primary, 800);
  position: relative;
  text-align: center;
}
.profile-image {
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: 20px;
  background-size: cover !important;
  background: #ccc no-repeat center center;
  border-radius: 50px;
}

.name {
  display: inline-block;
  color: white;
  margin-top: 130px;
}

.about-content, .friend-content {
  padding: 10px;
}
