@import '../../../../layout';

.intro-dialog {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 0;
  color: white;
  h1 {
    font-weight: bold;
    font-size: 50px;
  }
}

.intro {
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url("/assets/images/home-bg.jpg");
  background-size: cover;
  background-position: left 40%;
  background-repeat: no-repeat;
}

@include lt-md {
  .intro {
    height: 200px;
  }

  .intro-dialog {
    h1 {
      font-weight: bold;
      font-size: 30px;
    }
  }
}
