<ng-container *ngIf="showList; else aggregated">
  <ilm-close-by-list
    [query]="listQuery"
    [pageSize]="pageSize"
    [isMobile]="true"
  ></ilm-close-by-list>
  <div class="back">
    <button mat-icon-button (click)="closeList()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</ng-container>
<ng-template #aggregated>
  <ilm-close-by-table
    [query]="_query"
    [database]="statsDaoService"
    [pageSize]="pageSize"
    (rowClick)="rowClick($event)"
  ></ilm-close-by-table>
</ng-template>

