<mat-card class="taxon-image-card mat-elevation-z5">
  <mat-card-content>
    <ng-container *ngIf="images.length > 0 else noImage">
      <div *ngIf="selectedMedia"
           class="big-image"
           [style.background-image]="'url(' + ((selectedMedia.largeURL || selectedMedia.fullURL) | toHttps) + ')' | safe:'style'">
        <button (click)="fullScreen(selectedMedia)" mat-icon-button NguCarouselPrev class='fullscreen'><mat-icon>fullscreen</mat-icon></button>
      </div>
      <div class="taxon-images">
        <ngu-carousel
          [inputs]="carouselOne"
          [dataSource]="images"
          (onMove)="onCarouselMove($event)">
          <ngu-tile *nguCarouselDef="let media;">
            <div class="carusel" *ngIf="media" (click)="selectImage.emit(media.id)" [style.background-image]="'url(' + ((media.thumbnailURL || media.largeURL || media.fullURL) | toHttps) + ')' | safe:'style'">
            </div>
          </ngu-tile>
          <button mat-icon-button NguCarouselPrev class='leftRs'><mat-icon>navigate_before</mat-icon></button>
          <button mat-icon-button NguCarouselNext class='rightRs'><mat-icon>navigate_next</mat-icon></button>
        </ngu-carousel>
      </div>
    </ng-container>
    <ng-template #noImage>
      <div class="no-image" i18n>No Image</div>
    </ng-template>
  </mat-card-content>
</mat-card>
