.mat-card {
  padding: 0;
}
.carusel {
  background-size: cover !important;
  background: no-repeat center center;
  margin: 0 1px;
  height: 100px;
}

.fullscreen, .leftRs, .rightRs {
  position: absolute;
  color: rgba(255, 255, 255, 0.55);
}

.fullscreen {
  right: 10px;
  bottom: 7px;
}

.leftRs, .rightRs {
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.32);
  border: 1px rgba(0, 0, 0, 0.32);
  border-radius: 0;
}

.leftRs {
  left: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.rightRs {
  right: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.no-image {
  padding: 24px;
}
.big-image {
  position: relative;
  background-size: contain !important;
  background: #1b1b1b no-repeat center center;
  height: 300px;
  margin-bottom: 3px;
}

ngu-tile {
  padding: 0;
}

.taxon-images {
  .image-container {
    display: inline-flex;
    position: relative;
    margin-right: 3px;
  }

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
  }

  img {
    height: 70px;
    &.selected {

    }
  }
}
