<ng-container *ngFor="let type of _types; let l=last">
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'male'" i18n>male</ng-container>
    <ng-container *ngSwitchCase="'female'" i18n>female</ng-container>
    <ng-container *ngSwitchCase="'juvenile'" i18n>juvenile</ng-container>
    <ng-container *ngSwitchCase="'territory call'" i18n>territory call</ng-container>
    <ng-container *ngSwitchCase="'call'" i18n>call</ng-container>
    <ng-container *ngSwitchCase="'alarm call'" i18n>alarm call</ng-container>
    <ng-container *ngSwitchCase="'flight call'" i18n>flight call</ng-container>
    <ng-container *ngSwitchCase="'begging call'" i18n>begging call</ng-container>
    <ng-container *ngSwitchCase="'wingbeats'" i18n>wing beats</ng-container>
    <ng-container *ngSwitchCase="'wing beats'" i18n>wing beats</ng-container>
    <ng-container *ngSwitchCase="'song'" i18n>song</ng-container>
    <ng-container *ngSwitchCase="'alarm'" i18n>alarm</ng-container>
    <ng-container *ngSwitchCase="'display'" i18n>display</ng-container>
    <ng-container *ngSwitchCase="'courtship'" i18n>courtship</ng-container>
    <ng-container *ngSwitchDefault>{{type}}</ng-container>
  </ng-container><ng-container *ngIf="!l">, </ng-container>
</ng-container>
