.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.table {
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-count,
.mat-column-individuals {
  max-width: 64px;
}
.mat-column-period {
  min-width: 80px;
}
.mat-column-species {
  min-width: 100px
}

.mat-cell {
  hyphens: auto;
  margin-right: 5px;
  overflow: hidden;
}
