<div class="container mat-elevation-z1">
  <div class="loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner [diameter]="50" *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <mat-table #table [dataSource]="dataSource" class="table"
             matSort>

    <ng-container matColumnDef="species">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Species</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.species }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Count</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.count }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="period">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Period</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.oldestRecord !== row.newestRecord; else onePeriod">
          {{ row.oldestRecord }} - {{ row.newestRecord }}
        </ng-container>
        <ng-template #onePeriod>
          {{ row.oldestRecord }}
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="individuals">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Individual count</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.individuals }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="coordinateAccuracy">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Coordinate accuracy</mat-header-cell>
      <mat-cell *matCellDef="let row"><ilm-distance [distance]="row.coordinateAccuracy"></ilm-distance></mat-cell>
    </ng-container>

    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Observer</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.team }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Location</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.location }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="locality">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Locality</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.locality }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="displayDateTime">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Date time</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.displayDateTime }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="coordinatesVerbatim">
      <mat-header-cell *matHeaderCellDef i18n mat-sort-header>Coordinates</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.coordinatesVerbatim }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      (click)="rowClick.emit(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize">
  </mat-paginator>
</div>
