@import './src/styles.scss';

.file-input-container {
  height: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
}
.image-check, .image-clear, .image-upload {
  position: absolute;
  bottom: 25px;
}
.image-upload {
  right: 75px;
}
.image-clear {
  left: 25px
}
.image-check {
  right: 25px;
}
