<div class="add-image">
  <video #video autoplay class="mat-card-image"></video>
  <canvas #canvas style="display:none;" [width]="width" [height]="height"></canvas>
  <button class="image-clear"
          mat-mini-fab
          color="warn"
          tabindex="-1"
          (click)="dialogRef.close()">
    <mat-icon>clear</mat-icon>
  </button>
  <button class="image-upload"
          *ngIf="data?.showUpload"
          mat-mini-fab
          color="accent"
          tabindex="-1"
          (click)="upload()">
    <mat-icon>attach_file</mat-icon>
  </button>
  <button class="image-check"
          mat-mini-fab
          color="accent"
          tabindex="-1"
          (click)="takePic()">
    <mat-icon>check</mat-icon>
  </button>
  <mat-card class="file-input-container">
    <input id="upload-file" type="file" accept="image/*;capture=camera" (change)="handleUpload($event)" />
  </mat-card>
</div>
