@import '../../../../layout';

.form-col {
  padding: 10px 10px 300px 10px;
}

@include gt-xs {
  .map-col {
    padding-bottom: 100px;
  }
}

.map-wrap {
  height: calc(50vh - 50px);
  max-height: 400px;
  min-height: 300px;
}

.map-target-wrap {
  position: absolute;
  z-index: 100;
  left: 10px;
  bottom: 70px;
  overflow: hidden;
  text-align: center;
  color: rgb(86, 86, 86);
  user-select: none;
  font-size: 11px;
  background-color: rgb(255, 255, 255);
  padding: 4px 6px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  min-width: 40px;
  border-left: 0px;
}

.map-target-wrap:hover {
  background-color: rgb(225, 225, 225);
}
