<form *ngIf="formData" class="trip-form">
  <ilm-aggregated-errors [errors]="errors"></ilm-aggregated-errors>
  <div fxLayout="row-reverse" fxLayout.xs="column">
    <div fxFlex fxHide.lt-xl></div>
    <div
      class="map-col"
      fxFlex="50"
      fxFlex.gt-md="33"
      fxFlex.xl="550px">
      <div class="map-wrap" [class.relative]="!mapFullscreen">
        <ilm-map-field
          [fullscreen]="mapFullscreen"
          (fullscreenToggle)="mapFullScreenToggle.emit()"
          [travel]="travel"
          [name]="fieldLookup[geometrySource].exactPath"
          [(ngModel)]="data[fieldLookup[geometrySource].exactPath]"
          [gatheringErrors]="[errors[fieldLookup[gatheringGeometry].exactPath]]"
          [unitGatheringErrors]="[errors[fieldLookup[unitGatheringGeometry].exactPath]]"
          [gathering]="data[fieldLookup[gatheringGeometry].exactPath]"
          [gatheringActive]="isGeneralMap"
          [sections]="sections"
          (change)="onChange()"
        ></ilm-map-field>
        <div class="map-target-wrap" (click)="mapSwitch.emit()">
          <ng-container *ngIf="isGeneralMap; else singleLabel" i18n>gathering</ng-container>
          <ng-template i18n #singleLabel>observation</ng-template>
        </div>
      </div>
      <mat-accordion [multi]="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title i18n>
              About the location
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let field of gatheringFields; trackBy: trackByFn">
            <div [@visible]="'in'" *ngIf="visibleGatheringFields[fieldLookup[field].path]" class="form-field {{fieldLookup[field].type}}">
              <ilm-field-wrapper
                [name]="fieldLookup[field].exactPath"
                [(ngModel)]="data[fieldLookup[field].exactPath]"
                (change)="onChange()"
                [data]="data"
                [errors]="errors"
                [fields]="formData.fields"
                [field]="fieldLookup[field]"></ilm-field-wrapper>
            </div>
          </ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title i18n>
              About the gathering
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let field of otherGatheringFields; trackBy: trackByFn">
            <div class="form-field {{fieldLookup[field].type}}">
              <ilm-field-wrapper
                [name]="fieldLookup[field].exactPath"
                [(ngModel)]="data[fieldLookup[field].exactPath]"
                (change)="onChange()"
                [data]="data"
                [errors]="errors"
                [fields]="formData.fields"
                [field]="fieldLookup[field]"></ilm-field-wrapper>
            </div>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div
      fxFlex="50"
      fxFlex.gt-md="66"
      fxFlex.xl="1100px"
      class="form-col">
      <ng-container *ngFor="let field of unitFields; trackBy: trackByFn" >
        <div [@visible]="'in'" *ngIf="visibleUnitFields[fieldLookup[field].path]" class="form-field {{fieldLookup[field].type}}">
          <ilm-field-wrapper
            [name]="fieldLookup[field].exactPath"
            [(ngModel)]="data[fieldLookup[field].exactPath]"
            (change)="onChange()"
            (updateData)="updateData.emit($event)"
            [data]="data"
            [errors]="errors"
            [fields]="formData.fields"
            [field]="fieldLookup[field]"></ilm-field-wrapper>
        </div>
      </ng-container>
      <ilm-unit-list
        (rowClick)="onRowClick($event)"
        (delete)="delete.emit($event)"
        (move)="move.emit($event)"
        [data]="data"
        [sections]="sections"
        [fieldLookup]="fieldLookup"
        [selectedFields]="unitListFields"
        (updateData)="updateData.emit($event)"
      ></ilm-unit-list>
    </div>
  </div>
</form>
