<ng-container [ngSwitch]="data">
  <ng-container *ngSwitchCase="'deleteDocument'">
    <h2 mat-dialog-title i18n>Empty whole form</h2>
    <mat-dialog-content i18n>Are you sure?</mat-dialog-content>
  </ng-container>
  <ng-container *ngSwitchCase="'deleteGathering'">
    <h2 mat-dialog-title i18n>Delete gathering</h2>
    <mat-dialog-content i18n>Are you sure?</mat-dialog-content>
  </ng-container>
  <ng-container *ngSwitchCase="'deleteObservation'">
    <h2 mat-dialog-title i18n>Delete observation</h2>
    <mat-dialog-content i18n>Are you sure?</mat-dialog-content>
  </ng-container>
  <ng-container *ngSwitchCase="'invalidFormat'">
    <mat-dialog-content i18n>Invalid file format!</mat-dialog-content>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <mat-dialog-content i18n>Are you sure?</mat-dialog-content>
  </ng-container>
</ng-container>

<mat-dialog-actions>
    <ng-container *ngIf="data === 'invalidFormat'; else yesNo">
      <div fxLayout="row" class="actions">
        <span fxFlex></span>
        <button mat-button [mat-dialog-close]="true" i18n>Ok</button>
      </div>
    </ng-container>
    <ng-template #yesNo>
      <div fxLayout="row" class="actions">
        <button mat-button mat-dialog-close i18n>No</button>
        <span fxFlex></span>
        <ng-container *ngIf="data === 'deleteGathering' || data === 'deleteDocument'; else ligth">
          <button mat-flat-button [mat-dialog-close]="true" color="warn" i18n>Yes</button>
        </ng-container>
        <ng-template #ligth>
          <button mat-button [mat-dialog-close]="true" i18n>Yes</button>
        </ng-template>
      </div>
    </ng-template>
</mat-dialog-actions>
