<section class="instructions-wrapper">
  <h1 i18n>
    Instructions
  </h1>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Adding observations
      </mat-panel-title>
    </mat-expansion-panel-header>

    TODO
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Browsing specimen
      </mat-panel-title>
    </mat-expansion-panel-header>

    TODO
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Close by
      </mat-panel-title>
    </mat-expansion-panel-header>

    TODO
  </mat-expansion-panel>
</section>
<section class="instructions-wrapper">
  <h1 i18n>
    Frequently asked questions
  </h1>

  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Browsing specimen
      </mat-panel-title>
    </mat-expansion-panel-header>

    TODO
  </mat-expansion-panel>

</section>
