<ngui-map
  [class.fsMap]="fullscreen"
  (mapReady$)="initMap()"
  [options]="{streetViewControl: false, fullscreenControl: false, clickableIcons: false}">
  <div *ngIf="errors.length > 0" class="errors">
    <ul>
      <li *ngFor="let error of errors">{{error}}</li>
    </ul>
  </div>
  <drawing-manager
    (overlaycomplete)="addOverlay($event)"
    [drawingControl]="false"
    [drawingControlOptions]="{
        position: 1,
        drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
       }"
    [markerOptions]="{
        draggable: true
      }"
    [circleOptions]="{
        editable: true
      }"
    [polygonOptions]="{
        editable: true
      }"
    [polylineOptions]="{
        editable: true
      }"
    [rectangleOptions]="{
        editable: true
      }">
  </drawing-manager>
  <polyline
    [editable]="false"
    [path]="path"
    [strokeColor]="'#2d6dbd'"
    [strokeOpacity]="0.7"
    [strokeWeight]="3">
  </polyline>
  <button mat-button class="refresh" (click)="toMyLocation()">
    <mat-icon>gps_fixed</mat-icon>
  </button>
  <button mat-button class="fullscreen" (click)="fullscreenToggle.emit()">
    <mat-icon *ngIf="fullscreen else toFullscreen">fullscreen_exit</mat-icon>
    <ng-template #toFullscreen>
      <mat-icon>fullscreen</mat-icon>
    </ng-template>
  </button>
</ngui-map>
<mat-button-toggle-group class="btn-wrapper" [class.fsBtns]="fullscreen">
  <div class="spacer"></div>
  <mat-button-toggle
    [value]="'none'"
    [checked]="drawingMode === 'none'"
    (click)="cancelDrawingMode()">
    <mat-icon>pan_tool</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    [value]="'marker'"
    [checked]="drawingMode === 'marker'"
    (click)="drawMarker()">
    <mat-icon>place</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    [value]="'circle'"
    [checked]="drawingMode === 'circle'"
    (click)="drawCircle()">
    <mat-icon>panorama_fish_eye</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    [value]="'rectangle'"
    [checked]="drawingMode === 'rectangle'"
    (click)="drawRectangle()">
    <mat-icon>crop_3_2</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    [value]="'polyLine'"
    [checked]="drawingMode === 'polyLine'"
    (click)="drawPolyLine()">
    <mat-icon>timeline</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    [value]="'polygon'"
    [checked]="drawingMode === 'polygon'"
    (click)="drawPolygon()">
    <mat-icon>details</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    [value]="'delete'"
    [checked]="drawingMode === 'delete'"
    [class.active]="drawingMode === 'delete'"
    (click)="deleteMode()">
    <mat-icon>delete</mat-icon>
  </mat-button-toggle>
  <div class="spacer"></div>
</mat-button-toggle-group>
