@import './src/styles.scss';

:host /deep/ .mat-button-toggle-label-content {
  padding: 0 10px !important;
}

ngui-map {
  height: calc(100% - 40px);
  position: relative;
}
.errors {
  position: absolute;
  width: calc(100% - 160px);
  left: 90px;
  top: 0;
  z-index: 10000;
  color: mat-color($ilmari-warn);
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.fsMap, .fsBtns {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  position: absolute;
}
.fsMap {
  top: 0;
}
.fsBtns {
  background-color: white;
}
.btn-wrapper {
  height: 40px;
  width: 100%;
  text-align: center;
}
.active {
  color: white;
  background-color: mat-color($ilmari-warn);
}

.spacer {
  flex: 1 1 auto;
}

.fullscreen {
  top: 10px;
  right: 10px;
}

.refresh {
  top: 41px;
  right: 10px;
}

.refresh .material-icons {
  line-height: 1.5;
  font-size: 18px;
}

.refresh, .fullscreen {
  position: absolute;
  width: 32px;
  min-width: 32px;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 32px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
