<ngui-map
  class="close-by-map"
  (mapReady$)="initMap($event)"
  (bounds_changed)="bound.next()"
  [options]="{streetViewControl: false, fullscreenControl: false, clickableIcons: false}">
  <marker *ngFor="let pos of position; trackBy: positionTrackBy" [position]="pos" (click)="onClick($event)"></marker>
  <info-window id="iw" (closeclick)="onClose()" (initialized$)="fetchMapData()">
    <ng-container *ngIf="displayMarker">
      <ilm-close-by-map-info [query]="infoQuery"
      ></ilm-close-by-map-info>
    </ng-container>
  </info-window>
</ngui-map>
<div class="loading" *ngIf="isLoadingResults">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
