ngui-map {
  z-index: 100;
  height: 100%;
}

.refresh {
  top: 10px;
  right: 10px;
}

.refresh .material-icons {
  line-height: 1.5;
  font-size: 18px;
}

.refresh {
  position: absolute;
  width: 32px;
  min-width: 32px;
  padding-left: 3px;
  padding-right: 3px;
  line-height: 32px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
