.image-wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
}

.image {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.camera-btn {
  margin-top: -20px;
}
.camera-btn-with-img {
  margin-top: 0;
}
