<div class="image-wrap">
  <div class="image">
    <span>
      <ng-container *ngIf="_images">
        <ilm-image-thumbnail
          *ngFor="let image of _images"
          [image]="image"
          (remove)="removeImage($event)"
        ></ilm-image-thumbnail>
      </ng-container>
    </span>
  </div>
  <button mat-mini-fab
          [color]="'default'"
          (click)="addImageDialog()"
          [ngClass]="{'camera-btn-with-img': !empty}"
          class="no-click mat-elevation-z0 camera-btn">
    <mat-icon>photo_camera</mat-icon>
  </button>
</div>
