<div matListAvatar class="taxon-image-container">
  <div *ngIf="thumbnail" class="taxon-image" [style.background-image]="'url(' + (thumbnail | toHttps) + ')' | safe:'style'">
  </div>
</div>
<h3 matLine>{{taxon.vernacularName}}</h3>
<p matLine>{{taxon.scientificName}}</p>
