.taxon-list-item {
  margin: 10px 0 0 10px;
  overflow: auto;
  height: 200px;
  mat-card-title {
    font-size: 18px;
    margin-bottom: 4px;
  }
}

.taxon-image-container {
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.taxon-image {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background: #ccc no-repeat center center;
}

a {
  text-decoration: none;
}
