@import '../../../../layout';

.recognize-container {
  position: relative;
  overflow: auto;
  width: calc(100vw - 278px);
  padding: 24px 0 100px 24px;
}

@include lt-md {
  .recognize-container {
    width: calc(100vw - 24px);
    padding: 16px 0 100px 16px;
  }
}
