<mat-card class="taxon-detail mat-elevation-z5">
  <mat-card-content>
    <div class="parent-menu-toggle">
      <button mat-icon-button (click)="toggleParentMenu.emit()" color="accent">
        <ng-container *ngIf="showParentMenu else hideParentSelect">
          <mat-icon>expand_less</mat-icon>
        </ng-container>
        <ng-template #hideParentSelect>
          <mat-icon>expand_more</mat-icon>
        </ng-template>
      </button>
    </div>
    <table class="parents ilm-table ilm-table-condensed">
      <tr class="ilm-row" *ngFor="let parent of taxon._parents"
          [@expand]="showParentMenu ? 'collapsed' : 'expanded'"
          (@expand.start)="expandStart($event)"
          (@expand.done)="expandDone($event)"
      >
        <td class="ilm-cell title">{{parent.taxonRank | label}}:</td>
        <td class="ilm-cell">
          {{parent.scientificName}} <span *ngIf="parent.vernacularName">&ndash; {{parent.vernacularName}}</span>
        </td>
        <td class="ilm-cell parent-list">
          <ilm-taxon-menu
            *ngIf="showButton"
            (showLevel)="parentSelect.emit($event)"
            (addToList)="listSelect.emit($event)"
            [activeOwnMenu]="activeOwnMenu"
            [options]="{hideParentToggle: true}"
            [taxonID]="parent.id"></ilm-taxon-menu>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
