@import '../../../../layout';
.taxon-view-wrap {
  height: 100%;
}
.header {
  z-index: 2;
  position: relative;
}
.taxon {
  overflow: auto;
  max-width: calc(100vw - 240px);
  padding: 10px 0 100px 10px;
  .subheader {
    margin-top: -15px;
  }
}

@include lt-md {
  .taxon {
    max-width: 100vw;
  }
}

.taxon-footer {
  background-color: white;

  .mat-toolbar {
    background-color: white;
  }
}
:host {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
