<div *ngIf="taxon"
     fxLayout="column"
     class="taxon-view-wrap"
     (swiperight)="before.emit(taxon.id)"
     (swipeleft)="next.emit(taxon.id)">
  <mat-toolbar
    fxLayout="column"
    class="header toolbar-small"
  >
    <mat-toolbar-row class="mat-elevation-z3">
      <h1>
        {{taxon.vernacularName}}
        <small [class.cursive]="taxon.cursiveName">{{taxon.scientificName}}</small>
      </h1>
      <span fxFlex></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="taxon" fxFlex>
    <div fxLayout="row wrap" fxLayout.xs="column wrap">
      <ilm-taxon-view-image
        (swiperight)="before.emit(taxon.id)"
        (swipeleft)="next.emit(taxon.id)"
        (selectImage)="updateSelectedMedia.emit($event)"
        fxFlex="50"
        fxFlex.gt-md="33"
        fxFlex.xl="600px"
        [images]="taxon.multimedia || taxon._media"
        [selected]="taxon._selectedMedia"></ilm-taxon-view-image>
      <ilm-taxon-view-details
        (swiperight)="before.emit(taxon.id)"
        (swipeleft)="next.emit(taxon.id)"
        fxFlex="50"
        fxFlex.gt-md="33"
        fxFlex.xl="600px"
        [taxon]="taxon"
      ></ilm-taxon-view-details>
      <ilm-taxon-view-parents
        (swiperight)="before.emit(taxon.id)"
        (swipeleft)="next.emit(taxon.id)"
        fxFlex="50"
        fxFlex.gt-md="33"
        fxFlex.xl="600px"
        [taxon]="taxon"
        (toggleParentMenu)="toggleParentMenu.emit()"
        [activeOwnMenu]="activeOwnList"
        [showParentMenu]="parentMenuVisible"
        (listSelect)="addToList.emit($event)"
        (parentSelect)="showLevel.emit($event)"
      ></ilm-taxon-view-parents>
      <ilm-taxon-view-map-container
        (swiperight)="before.emit(taxon.id)"
        (swipeleft)="next.emit(taxon.id)"
        [ykjGrid]="taxon._grid"
        fxFlex="50"
        fxFlex.gt-md="33"
      ></ilm-taxon-view-map-container>
      <ilm-taxon-view-chart
        (swiperight)="before.emit(taxon.id)"
        (swipeleft)="next.emit(taxon.id)"
        *ngIf="taxon._weeks"
        fxFlex="100"
        fxFlex.gt-md="66"
        [results]="taxon._weeks"
      >
      </ilm-taxon-view-chart>
      <ilm-taxon-view-descriptions
        (swiperight)="before.emit(taxon.id)"
        (swipeleft)="next.emit(taxon.id)"
        *ngIf="taxon._descriptionCount > 0"
        [descriptions]="taxon._description"
        fxFlex="100"
      ></ilm-taxon-view-descriptions>
      <span i18n>Numbers are based upon observation data gathered during the last 10 years.</span>
    </div>
  </div>
  <div class="taxon-footer" *ngIf="position > 0 && !isMobile">
    <mat-toolbar fxLayout="row" class="pager-toolbar"
                 (swiperight)="before.emit(taxon.id)"
                 (swipeleft)="next.emit(taxon.id)">
      <div fxFlex></div>
      <div class="mat-paginator">
        <div class="mat-paginator-range-label">{{position}} of {{taxaResult.count}}</div>
      </div>
      <div><button mat-icon-button (click)="before.emit(taxon.id)"><mat-icon>navigate_before</mat-icon></button></div>
      <div><button mat-icon-button (click)="next.emit(taxon.id)"><mat-icon>navigate_next</mat-icon></button></div>
    </mat-toolbar>
  </div>
</div>
