<ng-container *ngIf="userSettings">
  <section fxLayout="column">
    <h1 i18n>Observations</h1>
    <mat-form-field class="selects">
      <mat-select i18n-placeholder
                  placeholder="Visibility"
                  [ngModel]="userSettings.publicityRestrictions"
                  (selectionChange)="updateValue($event.value, 'publicityRestrictions')">
        <mat-option value="MZ.publicityRestrictionsPublic" i18n>public (CC-BY)</mat-option>
        <mat-option value="MZ.publicityRestrictionsPrivate" i18n>private</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="selects">
      <mat-select i18n-placeholder
                  placeholder="Sent only observations"
                  [ngModel]="userSettings.ignoreUnits"
                  (selectionChange)="updateValue($event.value, 'ignoreUnits')">
        <mat-option [value]="ignoreUnits.withNoTaxon" i18n>that have name</mat-option>
        <mat-option [value]="ignoreUnits.withNoCount" i18n>that have count</mat-option>
      </mat-select>
      <mat-hint i18n>Other observations are ignored</mat-hint>
    </mat-form-field>
  </section>
  <section fxLayout="column">
    <h1 i18n>Images</h1>
    <mat-form-field class="selects">
      <mat-select i18n-placeholder
                  placeholder="License of intellectual property rights"
                  [ngModel]="userSettings.imageMetadata.intellectualRights"
                  (selectionChange)="updateValue($event.value, 'intellectualRights')">
        <mat-option value="MZ.intellectualRightsCC-BY-SA-4.0">Creative Commons Attribution Share-Alike 4.0</mat-option>
        <mat-option value="MZ.intellectualRightsCC-BY-NC-4.0">Creative Commons Attribution Noncommercial 4.0</mat-option>
        <mat-option value="MZ.intellectualRightsCC-BY-NC-SA-4.0">Creative Commons Attribution Noncommercial Share-Alike 4.0</mat-option>
        <mat-option value="MZ.intellectualRightsCC-BY-4.0">Creative Commons Attribution 4.0</mat-option>
        <mat-option value="MZ.intellectualRightsCC0-4.0">Creative Commons Zero 4.0</mat-option>
        <mat-option value="MZ.intellectualRightsODBL-1.0">Open Data Commons Open Database License (ODbL)</mat-option>
        <mat-option value="MZ.intellectualRightsPD">Public domain</mat-option>
        <mat-option value="MZ.intellectualRightsARR">All rights reserved</mat-option>
      </mat-select>
    </mat-form-field>
  </section>
</ng-container>
