<h1 mat-dialog-title i18n>Terms and conditions of Ilmari</h1>
<mat-dialog-content>
  <small i18n>Last updated: Jun 18, 2018</small>
  <p i18n>These terms and conditions outline the rules and regulations for the use of https://ilmari.riihikoski.net website (the "Service").</p>
  <p i18n>By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Ilmari's website
    if you do not accept all of the terms and conditions stated on this page.</p>
  <p i18n>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
    and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website
    and accepting these terms and conditions. “Ourselves”, “We”, “Our” and “Us”, refers
    to the Service. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves,
    or either the Client or ourselves. Any use of the above terminology or other words in the singular, plural,
    capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
  <h2 i18n>Cookies</h2>
  <p i18n>We employ the use of cookies. By using Ilmari's website you consent to the use of cookies
    in accordance with Ilmari’s privacy policy.</p>
  <p i18n>Most of the modern day interactive web sites
    use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
    to enable the functionality of this area and ease of use for those people visiting. Some of our
    affiliate / advertising partners may also use cookies.</p>
  <h2 i18n>Disclaimer</h2>
  <p i18n>The information contained on the Service is for general information purposes only.</p>
  <p i18n>Ilmari assumes no responsibility for errors or omissions in the contents on the Service.</p>
  <p i18n>In no event shall Ilmari be liable for any special, direct, indirect, consequential, or incidental damages or
    any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection
    with the use of the Service or the contents of the Service. Ilmari reserves the right to make additions, deletions,
    or modification to the contents on the Service at any time without prior notice.</p>
  <p i18n>Ilmari does not warrant that the website is free of viruses or other harmful components.</p>
  <h2 i18n>External links disclaimer</h2>
  <p i18n>https://ilmari.riihikoski.net website may contain links to external websites that are not provided or
    maintained by or in any way affiliated with Ilmari<p>
  <p i18n>Please note that the Ilmari does not guarantee the accuracy, relevance, timeliness, or completeness of
    any information on these external websites.</p>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row">
  <span fxFlex></span>
  <button mat-button [mat-dialog-close]="true" i18n>Accept</button>
</mat-dialog-actions>
