<div class="close-by">
  <ng-container *ngIf="filters$ | async as filters">
    <mat-drawer-container class="container" autosize>
      <div class="sidenav-content">
        <div class="close-by-wrap">
          <mat-tab-group>
            <mat-tab i18n-label label="Map">
              <div class="map-wrap tab-content">
                <ilm-close-by-map
                  [query]="filters"
                  (boundsChanged)="mapViewportChanged($event)"
                ></ilm-close-by-map>
              </div>
            </mat-tab>
            <mat-tab i18n-label label="Stats">
              <ng-template matTabContent>
                <div class="stat-content tab-content" fxLayout="row">
                  <ilm-close-by-stats-container [query]="filters"></ilm-close-by-stats-container>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab i18n-label label="List">
              <ng-template matTabContent>
                <div class="list-content tab-content" fxLayout="row">
                  <ilm-close-by-list [query]="filters" [isMobile]="isMobile$ | async"></ilm-close-by-list>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="filters">
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon
              [matBadgeHidden]="filterCnt === 0"
              [matBadgeOverlap]="false"
              [matBadge]="filterCnt"
              matBadgeColor="warn">filter_list</mat-icon>
          </button>
        </div>
      </div>
      <mat-drawer #drawer class="sidenav" [mode]="(isMobile$ | async) ? 'over' : 'side'" position="end">
        <ilm-close-by-filters
          [filters]="filters"
          [personToken]="personToken$ | async"
          [viewBounds]="viewBounds"
          (change)="update()"
        ></ilm-close-by-filters>
        <div class="update-bnt">
          <span fxFlex></span>
          <button mat-raised-button i18n (click)="clear()">Clear</button>
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </ng-container>
</div>
