.close-by {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .container, .sidenav-content, .close-by-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .close-by-wrap {
    .map-wrap, .list-content, .stat-content {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  .filters {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 100;
  }
  .sidenav {
    background-color: #fafafa;
    width: 300px;
  }
  .mat-tab-header {
    padding-right: 54px;
  }
  ilm-close-by-stats-container, ilm-close-by-list {
    width: 100%;
  }
  .mat-tab-body-wrapper, mat-tab-group, mat-tab, ilm-close-by-map {
    height: 100%;
  }
  .update-bnt {
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 3px;
    background-color: whitesmoke;
  }
}





