<mat-card class="taxon-detail mat-elevation-z5">
  <mat-card-content>
    <div *ngIf="iucnStatus">
      <label i18n>Redlist status in Finland</label>:
      <ilm-red-list [status]="iucnStatus"></ilm-red-list>
      {{iucnStatus | label}}
    </div>
    <div *ngIf="taxon.checklist && !taxon.checklist.includes('MR.1')">
      <label i18n>Name according to</label>:
      <ng-container *ngFor="let checklist of taxon.checklist; let last = last">
        {{checklist | label}}<ng-container *ngIf="!last">,</ng-container>
      </ng-container>
    </div>
    <div *ngIf="taxon.alternativeVernacularName">
      <label i18n>Also known as</label>: {{taxon.alternativeVernacularName}}
    </div>
    <div *ngIf="taxon.synonyms">
      <label i18n>Synonyms</label>:
      <span *ngFor="let synonym of taxon.synonyms">
        {{synonym.vernacularName}} {{synonym.scientificName}}
      </span>
    </div>
    <div *ngIf="taxon.occurrenceInFinland">
      <label i18n>Occurrence in Finland</label>:
      {{taxon.occurrenceInFinland | label}}
    </div>
    <div *ngIf="taxon.informalTaxonGroups.includes('MVL.1')">
      <ilm-taxon-view-sound [taxon]="taxon"></ilm-taxon-view-sound>
    </div>
    <!--
    <pre>
      {{taxon | json}}
    </pre>
    -->
  </mat-card-content>
</mat-card>
