<ng-container *ngIf="active$ | async as active">
  <ng-container *ngIf="results$ | async as taxaResult">
    <div class="grid-container" fxLayout="column" *ngIf="filter$ | async as filters">
      <mat-toolbar fxLayout="column">
        <mat-toolbar-row fxLayoutGap="10px">
          <ng-container *ngIf="active === listTypes.list">
            <ilm-informal-group-menu [selected]="filters[active].belongsTo[0]" (groupSelect)="onInformalGroupSelect($event)"></ilm-informal-group-menu>
          </ng-container>
          <ng-container *ngIf="active !== listTypes.bookmarked; else bookmarkedHeader">
            <ng-container i18n *ngIf="active === listTypes.species">Species in</ng-container>
            <ng-container *ngFor="let belong of filters[active].belongsTo">
              {{belong | label}}&nbsp;
            </ng-container>
            <ng-container *ngIf="active === listTypes.list">
              <ilm-list-download
                fxFlex
                [disabled]="downloading[filters[active].belongsTo[0]]"
                [downloaded]="downloaded$ | async"
                [taxonID]="filters[active].belongsTo[0]"
                (download)="onDownload($event)"
              ></ilm-list-download>
            </ng-container>
          </ng-container>
          <ng-template #bookmarkedHeader>
            <ng-container *ngIf="activeOwnList$ | async as selectedValue">
              <ng-container *ngIf="selectedValue === 'default'; else valueItem">
                <span i18n>Default list</span>
              </ng-container>
              <ng-template #valueItem>{{selectedValue}}</ng-template>
            </ng-container>
          </ng-template>
          <span fxFlex></span>
        </mat-toolbar-row>
      </mat-toolbar>
      <ng-container *ngIf="active === listTypes.bookmarked">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title i18n>
                In this list
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list" class="bookmarked-list">
              <mat-list-item
                *ngFor="let belong of filters[active].belongsTo"
                role="listitem">
                <span fxFlex>{{belong | label}}</span>
                <button mat-icon-button (click)="onDeleteFromOwn(belong)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <ilm-list-view
        fxFlex
        [useHighQualityImages]="false"
        [activeTaxon]="activeTaxon$ | async"
        [activeOwnList]="activeOwnList$ | async"
        [ownLists]="ownLists$ | async"
        [taxaResult]="taxaResult[active]"
        [filters]="filters"
        [activeList]="active"
      ></ilm-list-view>
    </div>
  </ng-container>
</ng-container>
