<h1 mat-dialog-title i18n>Name for the list</h1>
<div mat-dialog-content>
  <p i18n>What's the name you want to give for the new list?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="name" i18n-placeholder [placeholder]="'List name'">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" i18n>Cancel</button>
  <button mat-button [mat-dialog-close]="name" cdkFocusInitial i18n>Ok</button>
</div>
