<mat-accordion [multi]="false" *ngIf="hasErrors">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title i18n>
        Errors
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li *ngFor="let error of _errors">
        {{error}}
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
