<div fxLayout="row">
  <div>
    <ilm-list-search
      [active]="active$ | async"
      [filters]="filter$ | async"
      (update)="onUpdate($event)"
    ></ilm-list-search>
  </div>
  <div class="menu-wrap">
    <ilm-list-menu
      [ownLists]="ownLists$ | async"
      [activeOwnList]="activeOwnList$ | async"
      [filters]="filter$ | async"
      [informalGroups]="informalGroups$ | async"
      (newOwnList)="newOwnList($event)"
      (activateList)="activeList($event)"
      (selectOwnList)="selectOwnList($event)"
      (deleteOwnList)="deleteOwnList($event)"
      (groupSelect)="groupSelect($event)"
    ></ilm-list-menu>
  </div>
</div>
