<div class="page-wrap">
  <div class="form-col">
    <ilm-form
      [travel]="travel$ | async"
      [sections]="sections$ | async"
      [data]="data$ | async"
      [formData]="formData$ | async"
      [mapFullscreen]="mapFullscreen$ | async"
      [activeGroup]="activeGroup$ | async"
      [selectedFields]="selectedFields | async"
      [extended]="isExtended$ | async"
      [isGeneralMap]="isGeneralMap$ | async"
      [errors]="errors$ | async"
      (delete)="onDelete($event)"
      (activate)="onActivate($event)"
      (dataChange)="setData($event)"
      (updateData)="updateData($event)"
      (mapFullScreenToggle)="toggleFullscreenMap()"
      (mapSwitch)="toggleMap()"
      (move)="onMove($event)"
    ></ilm-form>
  </div>
  <ilm-footer
    [recording]="recording$ | async"
    [sections]="sections$ | async"
    [saving]="saving$ | async"
    (save)="onSave()"
    (add)="onAdd($event)"
    (delete)="onDelete($event)"
    (activate)="onActivate($event)"
    (toggleRecording)="toggleRecording()"
    (clearAll)="onClearAll()"
  ></ilm-footer>
</div>
