<ng-container *ngIf="recordings$ | async; let recordings">
  <div class="recordings" *ngIf="recordings.length > 0">
    <mat-select i18n-placeholder placeholder="Sound type" [ngModel]="active" (selectionChange)="changeSelection($event)">
      <mat-option *ngFor="let recording of recordings" [value]="recording">
        <ilm-recording-type [type]="recording.type"></ilm-recording-type> - {{recording.loc}}
      </mat-option>
    </mat-select>
    <ilm-player
      *ngIf="active && showPlayer"
      [audioFile]="active.file"
      [recorder]="active.rec"
      [license]="active.lic"
      [recorderLink]="'https://www.xeno-canto.org/' + active.id"
    ></ilm-player>
  </div>
</ng-container>
