<mat-form-field>
  <span matSuffix *ngIf="field.type === 'taxon'" class="taxon-suffix" (click)="$event.stopPropagation()">
    <ilm-informal-group-menu (groupSelect)="extension.event($event, 'groupSelect')" [selected]="extension.value"></ilm-informal-group-menu>
  </span>
  <ng-container [ngSwitch]="field.type">
    <ng-container *ngSwitchCase="'taxon'">
      <ng-container *ngTemplateOutlet="taxon"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'text'">
      <ng-container *ngTemplateOutlet="text"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'textarea'">
      <ng-container *ngTemplateOutlet="textarea"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'select'">
      <ng-container *ngTemplateOutlet="select"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'checkbox'">
      <ng-container *ngTemplateOutlet="checkbox"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'datetime'">
      <ng-container *ngTemplateOutlet="datetime"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'multitext'">
      <ng-container *ngTemplateOutlet="multitext"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'multiFriend'">
      <ng-container *ngTemplateOutlet="multiFriend"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'images'">
      <ng-container *ngTemplateOutlet="images"></ng-container>
    </ng-container>
  </ng-container>

  <ng-template #text ngProjectAs="[matInput]">
    <input
      matInput
      [ngModel]="value"
      [placeholder]="field.label"
      [errorStateMatcher]="matcher"
      (focus)="onFocus($event)"
      (change)="valueChange($event.target.value)"
      (blur)="onTouched()">
  </ng-template>

  <ng-template #taxon ngProjectAs="[matInput]">
    <input
      matInput
      [ngModel]="value"
      [errorStateMatcher]="matcher"
      [placeholder]="field.label"
      [matAutocomplete]="autoTaxon"
      (focus)="onFocus($event)"
      (keyup)="extension.onValueUpdate($event.target.value)"
      (change)="valueChange($event.target.value)"
      (blur)="onTouched()">
    <mat-autocomplete #autoTaxon="matAutocomplete" [displayWith]="extension.displayFn" (optionSelected)="extension.event($event.option.value, 'autocompleteSelect')">
      <mat-option *ngFor="let option of extension.obs | async" [value]="option">
        {{ option.value }}
      </mat-option>
    </mat-autocomplete>
  </ng-template>

  <ng-template #select ngProjectAs="mat-select">
    <mat-select
      [ngModel]="value"
      [errorStateMatcher]="matcher"
      [placeholder]="field.label"
      (ngModelChange)="valueChangeAndTouched($event)">
      <mat-option *ngFor="let item of field.values" [value]="item">
        {{ field.valueLabels[item] }}
      </mat-option>
    </mat-select>
  </ng-template>

  <ng-template #checkbox ngProjectAs="mat-checkbox">
    <mat-checkbox
      align="start"
      class="form-checkbox"
      [ngModel]="value"
      [indeterminate]="!hasValue()"
      (change)="valueChangeAndTouched($event.checked)"
      [disabled]="disabled">
      {{field.label}}
    </mat-checkbox>
  </ng-template>

  <ng-template #datetime ngProjectAs="ilm-datetime">
    <ilm-datetime
      [errorStateMatcher]="matcher"
      [ngModel]="value"
      [placeholder]="field.label"
      (focus)="onFocus($event)"
      (ngModelChange)="valueChange($event)">
    </ilm-datetime>
  </ng-template>

  <ng-template #textarea ngProjectAs="[matInput]">
    <textarea
      matInput
      matTextareaAutosize
      [ngModel]="value"
      [errorStateMatcher]="matcher"
      [placeholder]="field.label"
      (focus)="onFocus($event)"
      (change)="valueChange($event.target.value)"
      (blur)="onTouched()"></textarea>
  </ng-template>

  <ng-template #multitext ngProjectAs="[matInput]">
    <mat-chip-list #chipList [errorStateMatcher]="matcher" [ngModel]="value">
      <mat-chip
        *ngFor="let val of value"
        [selectable]="false"
        [removable]="true"
        (removed)="extension.event(val, 'remove')">
        {{val}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        [placeholder]="field.label"
        [matChipInputFor]="chipList"
        [matChipInputAddOnBlur]="true"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (focus)="onFocus($event)"
        (matChipInputTokenEnd)="extension.event($event, 'add')" />
    </mat-chip-list>
  </ng-template>

  <ng-template #multiFriend ngProjectAs="[matInput]">
    <mat-chip-list #friendList [errorStateMatcher]="matcher" [ngModel]="value">
      <mat-chip
        *ngFor="let val of value"
        [selectable]="false"
        [removable]="true"
        (removed)="extension.event(val, 'remove')">
        {{val | label}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #chipInput
        [matAutocomplete]="friend"
        [placeholder]="field.label"
        [matChipInputFor]="friendList"
        [matChipInputAddOnBlur]="true"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (keyup)="extension.onValueUpdate($event.target.value)"
        (focus)="onFocus($event)"
        (blur)="onTouched()"
        (matChipInputTokenEnd)="extension.event($event, 'addByInput')" />
      <mat-autocomplete #friend="matAutocomplete" (optionSelected)="extension.event($event.option.value, 'addByOption')">
        <mat-option *ngFor="let option of extension.obs | async" [value]="option.key">
          {{ option.value }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </ng-template>

  <ng-template #images ngProjectAs="ilm-images-field">
    <ilm-images-field
      [ngModel]="value"
      [placeholder]="field.label"
      (ngModelChange)="valueChange($event)"></ilm-images-field>
  </ng-template>

  <mat-error *ngFor="let error of _errors">{{error}}</mat-error>
</mat-form-field>
