<button mat-icon-button [matMenuTriggerFor]="langMenu">
  <mat-icon class="mat-18">language</mat-icon>
  {{locale}}
</button>

<mat-menu #langMenu="matMenu">
  <a mat-menu-item href="https://ilmari.riihikoski.net">Suomi</a>
  <a mat-menu-item href="https://ilmari-en.riihikoski.net">English</a>
</mat-menu>
