<button mat-mini-fab [color]="color" class="no-click mat-elevation-z0" [matMenuTriggerFor]="menu">
  <ng-container *ngIf="!selected && includeAny; else lajiIcon">
    <mat-icon>all_inclusive</mat-icon>
  </ng-container>
  <ng-template #lajiIcon>
    <ilm-icon [icon]="selected"></ilm-icon>
  </ng-template>
</button>
<mat-menu #menu="matMenu" class="informal-taxon-menu">
  <button
    *ngIf="includeAny"
    mat-menu-item color="primary"
    (click)="groupSelect.emit('')"
  >
    <mat-icon>all_inclusive</mat-icon>
    <ng-container i18n>Any</ng-container>
  </button>
  <button
    *ngFor="let group of informalGroups$ | async"
    mat-menu-item color="primary"
    (click)="groupSelect.emit(group.id)"
  >
    <ilm-icon [icon]="group.id"></ilm-icon>
    {{group.name}}
  </button>
</mat-menu>
