$xs: 599px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

@mixin gt-lg {
  @media screen and (min-width: #{$lg}) {
    @content;
  }
}

@mixin gt-md {
  @media screen and (min-width: #{$md}) {
    @content;
  }
}

@mixin gt-sm {
  @media screen and (min-width: #{$sm}) {
    @content;
  }
}

@mixin gt-xs {
  @media screen and (min-width: #{$xs}) {
    @content;
  }
}

@mixin lt-xl {
  @media screen and (max-width: #{$xl - 1px}) {
    @content;
  }
}

@mixin lt-lg {
  @media screen and (max-width: #{$lg - 1px}) {
    @content;
  }
}

@mixin lt-md {
  @media screen and (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin lt-sm {
  @media screen and (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$xl}) and (max-width: 5000px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$lg}) and (max-width: #{$xl - 1px}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$md}) and (max-width: #{$lg - 1px}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin xs {
  @media screen and (min-width: #{$xs}) {
    @content;
  }
}
