@import '~@angular/material/theming';
@import './layout';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ilmari-primary: mat-palette($mat-brown, 800);
$ilmari-accent: mat-palette($mat-blue-grey);

$ilmari-primary-dark: mat-palette($mat-grey, 100);

// The warn palette is optional (defaults to red).
$ilmari-warn: mat-palette($mat-red, 800);

$ilmari-success: mat-palette($mat-green);

// Create the theme object (a Sass map containing all of the palettes).
$ilmari-theme: mat-light-theme($ilmari-primary, $ilmari-accent, $ilmari-warn);
$ilmari-dark-theme: mat-dark-theme($ilmari-primary-dark, $ilmari-accent);

// Include theme styl es for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ilmari-theme);

.ilm-dark-theme {
  @include angular-material-theme($ilmari-dark-theme);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #3d4858;
  overflow-y: hidden;
}
* {
  -webkit-tap-highlight-color: transparent;
}
*:focus {outline:none}

.text-wrap {
  padding: 0 10px
}

.cursive {
  font-style: italic;
}

.link {
  cursor: hand;
}

.form-field.checkbox {
  min-height: 32px;
}

.toolbar-small {
  height: 46px;
  min-height: 46px !important;
}

.pager-toolbar {
  background-color: white !important;
  padding-left: 5px !important;
}

.mat-dialog-container {
  position: relative;
}

.dark .mat-icon-button {
  background-color: rgba(0, 0, 0, 0.05);
}

ilm-icon,
.back mat-icon,
.sidenav mat-icon,
.trip-form mat-icon,
.mat-datepicker-toggle,
.bookmarked-list mat-icon {
  color: rgba(0, 0, 0, 0.54);
}

mat-card {
  margin-bottom: 10px;
  margin-right: 10px;
}

.mat-form-field {
  width: 100%;
}

.sup {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}

.relative {
  position: relative;
}

/** Header */
.header-wrap .mat-toolbar.mat-primary {
  background: linear-gradient(160deg, mat-color($ilmari-primary, 600), mat-color($ilmari-primary, 800));
}
/** /Header */


/** table */
.ilm-table {
  border-collapse: collapse;
}
.ilm-header-row,
.ilm-row {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  align-items:center;
  padding:0 24px
}

.sidenav-container {
  background: none !important;
}

// Scrollbar
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #333;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
// /Scrollbar

@include lt-md {
  .mat-paginator-range-label {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mat-paginator-page-size {
    margin-right: 0 !important;
  }
}
