<mat-card class="taxon-descriptions mat-elevation-z5">
  <mat-card-content>
    <h2 i18n>Observations per week</h2>
    <div style="width: 100%; height: calc(100% - 30px)" *ngIf="isBrowser">
      <ngx-charts-line-chart
        class="chart-container"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="_results"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [timeline]="timeline"
        [showGridLines]="showGridLines"
        [curve]="curve"
        [rangeFillOpacity]="rangeFillOpacity"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled">
      </ngx-charts-line-chart>
    </div>
  </mat-card-content>
</mat-card>
