<mat-form-field color="accent">
  <input matInput placeholder="search..." [formControl]="userInput" [matAutocomplete]="taxa">
  <mat-autocomplete #taxa="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.vernacularName }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
