$sidenav-spacing-unit: 8px;
$sidenav-width: 240px;

.page-layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.page-header {
  flex: 0 0 auto;
  position: relative;
  z-index: 100;
}
.page-content {
  flex: 1 1 auto;
  position: relative;
}

.sidenav-container {
  background: rgba(0, 0, 0, 0.03);
  position: relative;
}

.sidenav {
  background-color: whitesmoke;
  padding-bottom: 72px;
  width: $sidenav-width;
  bottom: 0;
  overflow: auto;
  height: 100%;

  &.mat-sidenav-opened {
    box-shadow: 0 0 6px rgba(0, 0, 0, .24);
  }

}

.loader {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
