<div class="page-layout mat-typography">
  <div class="page-header mat-elevation-z1">
    <ilm-toolbar
      class="header-wrap"
      [open]="showSidenav$ | async"
      (toggleMenu)="toggleSidenav()">
      <h1>Ilmari</h1>
      <span fxFlex></span>
      <router-outlet name="header"></router-outlet>
    </ilm-toolbar>
  </div>
  <div class="page-content">
    <mat-sidenav-container fullscreen class="sidenav-container">
      <mat-sidenav class="sidenav"
                  [opened]="showSidenav$ | async"
                  [mode]="(isMobile$ | async) ? 'over' : 'side'"
                  (closedStart)="closeSidenav()">
        <mat-nav-list>
          <ng-container *ngIf="hasUpdate$ | async">
            <a mat-list-item (click)="activateUpdate()">
              <mat-icon mat-list-icon>update</mat-icon>
              <span mat-line i18n>Update</span>
              <span mat-line class="secondary" i18n>newer version is available</span>
            </a>
            <mat-divider></mat-divider>
          </ng-container>
          <ilm-nav-item (activate)="closeSidenav()"
                        routerLink="/"
                        icon="home" i18n>
            Home
          </ilm-nav-item>
          <ilm-nav-item (activate)="closeSidenav()"
                        routerLink="/observations/trip"
                        icon="add" i18n>
            Add observation
          </ilm-nav-item>
          <!--
          <ilm-nav-item (activate)="closeSidenav()"
                        routerLink="/observations"
                        icon="book" i18n>
            My observations
          </ilm-nav-item>
          -->
          <ilm-nav-item (activate)="closeSidenav()"
                        routerLink="/species"
                        icon="view_comfy" i18n>
            Species
          </ilm-nav-item>
          <ilm-nav-item (activate)="closeSidenav()"
                        routerLink="/close-by"
                        icon="map" i18n>
            Close by
          </ilm-nav-item>
          <ilm-nav-item (activate)="closeSidenav()"
                        routerLink="/species/recognize"
                        icon="photo_camera" i18n>
            Search by Image
          </ilm-nav-item>
          <mat-divider></mat-divider>
          <!--
          <ilm-nav-item (activate)="closeSidenav()"
                        routerLink="/instructions"
                        icon="help_outline" i18n>
            Instructions
          </ilm-nav-item>
          -->
          <a mat-list-item (click)="sendFeedback()">
            <mat-icon mat-list-icon>feedback</mat-icon>
            <span mat-line i18n>Feedback</span>
          </a>
          <mat-divider></mat-divider>
          <ilm-nav-item *ngIf="loggedIn$ | async; else login" (activate)="closeSidenav()"
                        routerLink="/user/profile"
                        icon="person" i18n>
            User
          </ilm-nav-item>
          <ng-template #login>
            <a *ngIf="!(loggedIn$ | async)" mat-list-item (click)="showLogin()">
              <mat-icon mat-list-icon>person_outline</mat-icon>
              <span mat-line i18n>Sign In</span>
            </a>
          </ng-template>
          <ilm-nav-item *ngIf="loggedIn$ | async" (activate)="logout()"
                        icon="exit_to_app" i18n>
            Log out
          </ilm-nav-item>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="showTerms()">
            <span mat-line i18n>Terms and conditions</span>
          </a>
          <!--
          <a mat-list-item (click)="showPrivacy()">
            <span mat-line i18n>Privacy policy</span>
          </a>
          -->
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content id="scroll-container">
        <main class="sidenav-content">
          <router-outlet></router-outlet>
        </main>
        <div class="loader" *ngIf="isLoading$ | async">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
<ilm-login-container></ilm-login-container>
